<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/static/management/assets/" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Patient info</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/management/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/static/management/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/management/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/static/management/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/static/management/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/management/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/static/management/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/static/management/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/management/assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            {% include 'management/Components/sidebarnew.html' %}
            <!-- Layout container -->
            <div class="layout-page">
                {% include 'management/components/header.html' %}

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">

                            <div class="card">
                                <h5 class="card-header">Administered Patient</h5>
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>First name</th>
                                                <th>Last name</th>
                                                <th>email</th>
                                                <th>Phone number</th>
                                                <th>DOB</th>
                                                <th>gender</th>
                                                <th>view full-info</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0">
                                            {% for sr in search_result %}
                                            <tr>
                                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> {{sr.Patient_firstname}}</td>
                                                <td>{{sr.Patient_lastname}}</td>
                                                <td>{{sr.Patient_email_address}}</td>
                                                <td>{{sr.Patient_phone_number}}</td>
                                                <td>{{sr.DOB}}</td>
                                                <td>{{sr.Patient_gender}}</td>
                                                <td> <a href="/management/p-f-l/{{sr.id}}"><button class="btn btn-outline-info">view</button></a> </td>
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/management/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/static/management/assets/vendor/libs/popper/popper.js"></script>
<script src="/static/management/assets/vendor/js/bootstrap.js"></script>
<script src="/static/management/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/static/management/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/static/management/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/static/management/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/static/management/assets/js/dashboards-analytics.js"></script>

</html>